<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>☕Cafe</title>
        <link
            href="https://fonts.googleapis.com/css?family=Megrim|Nunito+Sans:400,600,900"
            rel="stylesheet"
        />
        <link
            rel="icon"
            href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/155/ear-of-maize_1f33d.png"
        />
        <link rel="stylesheet" href="../index.css" />
    </head>
    <body>
        <header>
            <a href="/">☕Cafe</a>
            <ul>
                <li><a href="./">Anasayfa</a></li>
                <li><a href="./menu">Menü</a></li>
                <li><a href="./contact">İletişim</a></li>
            </ul>
        </header>
        {%PAGE%}
        <footer>
            <a href="/">☕Cafe</a>
            <div class="footer-info">
                <div>
                    <span
                        >Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Distinctio, exercitationem alias! Aliquam officiis
                        aspernatur nobis optio dolore, odit incidunt sint.</span
                    >
                </div>
                <div>
                    <li><a href="">Anasayfa</a></li>
                    <li><a href="">Menü</a></li>
                    <li><a href="">İletişim</a></li>
                </div>
                <div>
                    <li><b>Tel: </b>+905553337788</li>
                    <li><b>Mail: </b>cafe@mail.com</li>
                    <li>
                        <b>Adres: </b>Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Magni, itaque.
                    </li>
                </div>
            </div>
            <hr />
            <center><span>copyright © 2024 tüm hakları saklıdır</span></center>
        </footer>
    </body>
</html>
